{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Zatuar - Indumentaria de Trabajo</title>

    <meta name="keywords" content="HTML5 Template"/>
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400"
          rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/static/vendor/animate/animate.min.css">
    <link rel="stylesheet" href="/static/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="/static/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/static/css/theme.css">
    <link rel="stylesheet" href="/static/css/theme-elements.css">
    <link rel="stylesheet" href="/static/css/theme-blog.css">
    <link rel="stylesheet" href="/static/css/theme-shop.css">

    <!-- Current Page CSS -->
    <link rel="stylesheet" href="/static/vendor/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="/static/vendor/rs-plugin/css/layers.css">
    <link rel="stylesheet" href="/static/vendor/rs-plugin/css/navigation.css">
    <link rel="stylesheet" href="/static/vendor/circle-flip-slideshow/css/component.css">

    <!-- Demo CSS -->


    <!-- Skin CSS -->
    <link rel="stylesheet" href="/static/css/skins/default.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/static/css/custom.css">

    <!-- Head Libs -->
    <script src="/static/vendor/modernizr/modernizr.min.js"></script>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '293058731812356',
          xfbml      : true,
          version    : 'v7.0'
        });
        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <meta property="fb:app_id" content="293058731812356"/>
    {% block metas %}
        <meta property="og:url" content="https://zatuar.com"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="Zatuar - Fabrica de Indumentaria de Trabajo"/>
        <meta property="og:description" content="{{ zatuar.descripcion }}"/>
        <meta property="og:image" content="https://zatuar.com/media/empresa/logo/{{ zatuar.imagen }}"/>
        <meta property="og:image:width" content="400"/>
        <meta property="og:image:height" content="300"/>
    {% endblock %}


</head>


<body class="loading-overlay-showing" data-plugin-page-transition data-loading-overlay
      data-plugin-options="{'hideDelay': 500}">
<div class="loading-overlay">
    <div class="bounce-loader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>

<div class="body">


    {#{% load product_extras %}#}
    <header id="header"
            data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 45, 'stickySetTop': '-45px', 'stickyChangeLogo': true}">
        <div class="header-body">
            <div class="header-container container">
                <div class="header-row">
                    <div class="header-column">
                        <div class="header-row">
                            <div class="header-logo">
                                <a href="/">
                                    <img alt="Zatuar" width="175" height="55" data-sticky-width="125"
                                         data-sticky-height="40" data-sticky-top="25" src="/media/{{ zatuar.logo }}">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="header-column justify-content-end">
                        <div class="header-row pt-3">
                            <nav class="header-nav-top">
                                <ul class="nav nav-pills">

{#                                    <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-md-show">#}
{#                                        <span class="ws-nowrap"><i#}
{#                                                class="fas fa-phone"></i> {{ contacto.celular }}</span>#}
{#                                    </li>#}
{#                                    <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-md-show">#}
{#                                        <span class="ws-nowrap"><i#}
{#                                                class="fas fa-phone"></i> {{ contacto.celular2 }}</span>#}
{#                                    </li>#}
                                </ul>
                            </nav>
                            <div class="header-nav-features">
                                <div class="header-nav-feature header-nav-features-cart d-inline-flex ml-2">
                                    <div class="header-nav-features-dropdown" id="headerTopCartDropdown">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header-row">
                            <div class="header-nav pt-1">
                                <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1">
                                    <nav class="collapse">
                                        <ul class="nav nav-pills" id="mainNav">
                                            {% block menu %}

                                                <li style="background-color: #ffffff;" class=" ">
                                                    <a href="/" style="background-color: #F15A29; color:#ffffff ">
                                                        Inicio
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a href="/empresa/">
                                                        Empresa
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a href="/productos/">
                                                        Productos
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a href="/clientes/">
                                                        Clientes
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a href="/blog/">
                                                        Blog
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a href="/contacto/">
                                                        Contacto
                                                    </a>
                                                </li>
                                            {% endblock %}
                                        </ul>
                                    </nav>
                                </div>
                                <ul class="header-social-icons social-icons d-none d-sm-block">
                                    <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank"
                                                                         title="Facebook"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                    <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank"
                                                                        title="Twitter"><i
                                            class="fab fa-twitter"></i></a></li>
                                    <li class="social-icons-instagram"><a href="http://www.instagram.com/" target="_blank"
                                                                         title="Instagram"><i
                                            class="fab fa-instagram"></i></a></li>
                                </ul>
                                <button class="btn header-btn-collapse-nav" data-toggle="collapse"
                                        data-target=".header-nav-main nav">
                                    <i class="fas fa-bars"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div role="main" class="main">

        {% block content %}
            <div class="slider-container rev_slider_wrapper" style="height: 670px;">
                <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider
                     data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 670, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
                    <ul>
                        {% for slider in sliders %}
                            <li data-transition="fade">
                                <img src="/media/{{ slider.slider }}"
                                     alt=""
                                     data-bgposition="center center"
                                     data-bgfit="cover"
                                     data-bgrepeat="no-repeat"
                                     class="rev-slidebg">
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <br><br>
            <div class="container py-4">

                <div class="row">
                    <br><br><br>
                    <div class="col-md-7 order-2">

                        <div class="overflow-hidden">
                            <h2 class="text-color-dark font-weight-bold text-8 mb-0 pt-0 mt-0 appear-animation"
                                data-appear-animation="maskUp" data-appear-animation-delay="300">ZATUAR</h2>
                        </div>
                        <br>

                        <p class="lead appear-animation" data-appear-animation="fadeInUpShorter"
                           data-appear-animation-delay="700">{{ zatuar.descripcion|truncatechars:"200" }}</p>
                        <hr class="solid my-4 appear-animation" data-appear-animation="fadeInUpShorter"
                            data-appear-animation-delay="900">
                        <div class="row align-items-center appear-animation" data-appear-animation="fadeInUpShorter"
                             data-appear-animation-delay="1000">

                            <div class="col-lg-6">
                                <a href="#" class="btn btn-modern btn-primary mt-3">Leer mas!</a>
                            </div>

                            <div class="col-sm-6 text-lg-right my-4 my-lg-0">
                                <strong class="text-uppercase text-1 mr-3 text-dark">Siguenos</strong>
                                <ul class="social-icons float-lg-right">
                                    <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank"
                                                                         title="Facebook"><i
                                            class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank"
                                                                        title="Twitter"><i
                                            class="fab fa-twitter"></i></a></li>
                                    <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank"
                                                                         title="Linkedin"><i
                                            class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 order-md-2 mb-4 mb-lg-0 appear-animation"
                         data-appear-animation="fadeInRightShorter">
                        <img src="/media/{{ zatuar.imagen }}" class="img-fluid" alt="">
                    </div>
                </div>


                <div class="row mb-xl">

                    <div class="col-md-12">
                        <br><br><br><br>
                        <hr>
                        <h2 style="text-align: center" class="mb-xl"> Personalización Producto</h2>

                        <div class="row">
                            {% for perso in personalizacion %}
                                <div class="col-md-4">
                                    <div class="feature-box feature-box-style-2 appear-animation"
                                         data-appear-animation="fadeInLeft" data-appear-animation-delay="0">
                                        <div class="feature-box-icon" style="max-width: 50%;width: auto;height: auto;">
                                            <img src="/media/{{ perso.imagen }} " class="img-responsive"
                                                 style="max-width: 100%;width: auto;height: auto;">
                                        </div>
                                        <div class="feature-box-info">
                                            <h4 class="mb-sm">{{ perso.titulo }}</h4>
                                            <p style="text-align: justify" class="mb-lg">{{ perso.descripcion }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="container">

                    <div class="row text-center pt-3">
                        <div class="col-md-12 mx-md-auto">
                            <hr>
                            <h2 class="word-rotator slide mb-2">
                                <span>Zatuar es  </span>
                                <span style="text-align: center" class="word-rotator-words bg-color-tertiary ">
                                    <b class="is-visible">Garantía</b>
                                    <b>Confianza</b>
                                    <b>Seguridad</b>
                                </span>
                                <span> para su empresa.</span>
                            </h2>
                            <p class="lead appear-animation" data-appear-animation="fadeInUpShorter"
                               data-appear-animation-delay="300">
                                {{ proceso.detalle }}
                            </p>
                        </div>
                    </div>

                </div>

                <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                    <div class="home-concept mt-5">
                        <div class="container">

                            <div class="row text-center">
                                <span class="sun"></span>
                                <span class="cloud"></span>
                                <div class="col-lg-2 ml-lg-auto">
                                    <div class="process-image">
                                        <img src="/media/{{ proceso.img1 }}" alt=""/>
                                        <strong>{{ proceso.ti1 }}</strong>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="process-image process-image-on-middle">
                                        <img src="/media/{{ proceso.img2 }}" alt=""/>
                                        <strong>{{ proceso.ti2 }}</strong>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="process-image">
                                        <img src="/media/{{ proceso.img3 }}" alt=""/>
                                        <strong>{{ proceso.ti3 }}</strong>
                                    </div>
                                </div>
                                <div class="col-lg-4 ml-lg-auto">
                                    <div class="project-image">
                                        <div id="fcSlideshow" class="fc-slideshow">
                                            <ul class="fc-slides">
                                                {% for gale in galeri_proces %}
                                                    <li>
                                                        <img class="img-responsive" src="/media/{{ gale.imagen }}"
                                                             width="338"
                                                             height="338" alt=""/>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <strong class="our-work"> {{ proceso.ti4 }}</strong>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <section id="intro" class="section section-no-border section-angled bg-light pt-0 pb-5 m-0">

                    <div class="container pb-5">

                        <div class="intro row align-items-center justify-content-center justify-content-md-start">
                            <div class="col-3 pr-0 pl-3 z-index-2">
                                <img src="/static/img/lazy.png" data-plugin-lazyload
                                     data-plugin-options="{'threshold': 500, 'effect':'fadeIn'}"
                                     data-original="/media/{{ detalles.image1 }}"
                                     class="img-fluid border border-width-10 border-color-light box-shadow-3 rounded d-none d-md-block appear-animation"
                                     alt="Screenshot 2" data-appear-animation="fadeInUp"
                                     data-appear-animation-delay="600">
                                <div class="position-absolute d-none d-md-flex align-items-end appear-animation"
                                     data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="900"
                                     style="bottom: -60px; right: -90px;">
                                    <span class="arrow hlt" style="margin-right: -70px;"></span>
                                    <strong class="text-color-dark mb-4 pb-3">personalización!</strong>
                                </div>
                            </div>
                            <div class="col-11 col-md-9 pl-0 pr-5 pb-5 pb-md-0 mb-5 mb-md-0">
                                <div class="intro2 pt-5 pt-md-0 mt-5 mt-lg-0 appear-animation pr-5"
                                     data-appear-animation="fadeInUp" data-appear-animation-delay="400">
                                    <img src="/static/img/lazy.png"
                                         data-plugin-lazyload
                                         data-plugin-options="{'threshold': 500, 'effect':'fadeIn'}"
                                         data-original="/media/{{ detalles.image2 }}"
                                         class="img-fluid box-shadow-3 position-relative z-index-1 rounded"
                                         alt="Screenshot 1"
                                         style="left: -110px;">
                                </div>
                                <div class="intro3 z-index-3 position-absolute appear-animation"
                                     data-appear-animation="fadeInUp" data-appear-animation-delay="800"
                                     style="top: 20%; right: 4%;">
                                    <img src="/static/img/lazy.png" data-plugin-lazyload
                                         data-plugin-options="{'threshold': 500, 'effect':'fadeIn'}"
                                         data-original="/media/{{ detalles.image3 }}"
                                         class="img-fluid border border-width-10 border-color-light box-shadow-3 rounded"
                                         alt="Screenshot 3">
                                    <div class="position-absolute d-none d-md-flex align-items-end appear-animation"
                                         data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1100"
                                         style="bottom: -135px; right: -20px;">
                                        <strong class="text-color-dark mb-3">identidad!</strong>
                                        <span class="arrow hru"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-12   center">
                            <p style="text-align: center">
                            <h1>Nuestros Clientes</h1></p>
                            <div class="owl-carousel owl-theme mt-xl"
                                 data-plugin-options='{"items": 2, "autoplay": true, "autoplayTimeout": 3000}'>
                                {% for client in clientes %}
                                    <div>
                                        <img class="img-responsive" src="/media/{{ client.client_logo }}" alt="">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>

        {% endblock %}
        <footer id="footer"
                class="bg-color-dark-scale-2 border border-right-0 border-left-0 border-bottom-0 border-color-light-3 mt-0">
            <div class="container text-center my-3 py-5">
                <a href="/" class="goto-top">
                    <img src="/media/{{ zatuar.logo_blanco }}" data-plugin-lazyload
                         data-plugin-options="{'threshold': 500}" data-original="/media/{{ zatuar.logo_blanco }}"
                         width="150" height="45" class="mb-4 appear-animation" alt="Zatuar"
                         data-appear-animation="fadeIn" data-appear-animation-delay="300">
                </a>

                <div class="col-md-12" style="text-align: center">
                    <div class="newsletter">
                        <p>
                            <font color="#f15a29"><i class="fa fa-map-marker"></font></i> {{ contacto.direccion }}
                            &nbsp;
                            <font color="#63bc46"><i class="fa fa-phone"></font></i> {{ contacto.celular }} &nbsp;
                            <font color="#F7931E"><i class="fa fa-phone"></font></i> {{ contacto.celular2 }} &nbsp;
                            <font color="#0099a5"><i class="fa fa-envelope"></font></i>
                            <a href="mailto:zatuar.ec@gmail.com"><font
                                    style=" color:#ffffff ">{{ contacto.correo }}</font></a>
                        </p>

                    </div>
                </div>

                <ul class="social-icons social-icons-big social-icons-dark-2">
                    <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank"
                                                        title="Facebook"><i class="fab fa-facebook-f"></i></a></li>

                    <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank"
                                                        title="Twitter"><i class="fab fa-twitter"></i></a></li>

                    <li class="social-icons-instagram"><a href="http://www.instagram.com/" target="_blank"
                                                        title="Instagram"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="copyright bg-dark py-4">
                <div class="container text-center py-2">
                    <a href="https://www.girekstudio.com/"><p class="mb-0 text-2">Copyright 2013 - 2020 - GirekStudio -
                        All Rights Reserved</p></a>
                </div>
            </div>
        </footer>
    </div>

    <!-- Vendor -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/jquery.appear/jquery.appear.min.js"></script>
    <script src="/static/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/static/vendor/jquery.cookie/jquery.cookie.min.js"></script>
    <script src="/static/vendor/popper/umd/popper.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/vendor/common/common.min.js"></script>
    <script src="/static/vendor/jquery.validation/jquery.validate.min.js"></script>
    <script src="/static/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="/static/vendor/jquery.gmap/jquery.gmap.min.js"></script>
    <script src="/static/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
    <script src="/static/vendor/isotope/jquery.isotope.min.js"></script>
    <script src="/static/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/static/vendor/vide/jquery.vide.min.js"></script>
    <script src="/static/vendor/vivus/vivus.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="/static/js/theme.js"></script>

    <!-- Current Page Vendor and Views -->
    <script src="/static/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="/static/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="/static/vendor/circle-flip-slideshow/js/jquery.flipshow.min.js"></script>
    <script src="/static/js/views/view.home.js"></script>

    <!-- Theme Custom -->
    <script src="/static/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="/static/js/theme.init.js"></script>
</div>
</body>
</html>
