{% extends "index.html" %}
{% block metas %}
    <meta property="og:url" content="https://zatuar.com/producto/{{ product.id }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ product.title }}"/>
    <meta property="og:description" content="{{ product.descripcion }}"/>
    <meta property="og:image" content="https://zatuar.com.com/media/{{ product.image_a }}"/>
{% endblock %}




{#{% load product_extras %}#}


<header id="header"
            data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 45, 'stickySetTop': '-45px', 'stickyChangeLogo': true}">
        <div class="header-body">
            <div class="header-container container">
                <div class="header-row">
                    <div class="header-column">
                        <div class="header-row">
                            <div class="header-logo">
                                <a href="/">
                                    <img alt="Zatuar" width="100" height="40" data-sticky-width="82"
                                         data-sticky-height="40" data-sticky-top="25" src="/media/{{ zatuar.logo }}">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="header-column justify-content-end">
                        <div class="header-row pt-3">
                            <nav class="header-nav-top">
                                <ul class="nav nav-pills">
                                    <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-md-show">
                                        <span class="ws-nowrap"><i class="fas fa-phone"></i> {{ contacto.celular }}</span>
                                    </li>
                                    <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-md-show">
                                        <span class="ws-nowrap"><i class="fas fa-phone"></i> {{ contacto.celular2 }}</span>
                                    </li>
                                </ul>
                            </nav>
                            <div class="header-nav-features">
                                <div class="header-nav-feature header-nav-features-cart d-inline-flex ml-2">
                                    <div class="header-nav-features-dropdown" id="headerTopCartDropdown">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header-row">
                            <div class="header-nav pt-1">
                                <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1">
                                    <nav class="collapse">
                                        <ul class="nav nav-pills" id="mainNav">
                                            {% block menu %}
                                                <li class=" ">
                                                    <a href="/">
                                                        Inicio
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a href="/empresa/" >
                                                        Empresa
                                                    </a>
                                                </li>
                                                <li style="background-color: #ffffff;" class="">
                                                    <a href="/productos/"  style="background-color: #F15A29; color:#ffffff ">
                                                        Productos
                                                    </a>
                                                </li>
                                                <li  class="">
                                                    <a href="/clientes/">
                                                        Clientes
                                                    </a>
                                                </li>
                                                <li   class="">
                                                    <a href="/blog/" >
                                                        Blog
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a href="/contacto/" >
                                                        Contacto
                                                    </a>
                                                </li>
                                            {% endblock %}
                                        </ul>
                                    </nav>
                                </div>
                                <ul class="header-social-icons social-icons d-none d-sm-block">
                                    <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank"
                                                                         title="Facebook"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                    <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank"
                                                                        title="Twitter"><i
                                            class="fab fa-twitter"></i></a></li>
                                    <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank"
                                                                         title="Linkedin"><i
                                            class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                                <button class="btn header-btn-collapse-nav" data-toggle="collapse"
                                        data-target=".header-nav-main nav">
                                    <i class="fas fa-bars"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>





{% block content %}

    <div role="main" class="main shop py-4">

        <div class="container">

            <div class="row">

                <div class="col-lg-12">

                    <div class="row">
                        <div class="col-lg-3">

                            <div>

                                <div>
                                    <img alt="" height="300" class="img-fluid" src="/media/{{ product.image_a }}">
                                </div>

                            </div>

                        </div>
                        <div class="col-lg-3">

                            <div>
                                <div>
                                    <img alt="" height="300" class="img-fluid" src="/media/{{ product.image_b }}">
                                </div>


                            </div>

                        </div>

                        <div class="col-lg-6">

                            <div class="summary entry-summary">

                                <h1 style="text-align: center" class="mb-0 font-weight-bold text-7">Blue Ladies
                                    Handbag</h1>

                                <div class="pb-0 clearfix">
                                    <div title="Rated 3 out of 5" class="float-left">
                                        <input type="text" class="d-none" value="3" title="" data-plugin-star-rating
                                               data-plugin-options="{'displayOnly': true, 'color': 'primary', 'size':'xs'}">
                                    </div>

                                    <div class="review-num">
                                        <span class="count" itemprop="ratingCount">2</span> vistas
                                    </div>
                                </div>


                                <p class="mb-5">{{ product.descripcion }} </p>

                                <p class="price">
{#                                    <span class="amount">{{ product.precio | price_format }}</span>#}
                                </p>


{#                                {% include 'carts/snippets/add.html' %}#}

                            </div>


                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="tabs tabs-product">
                                <h1 style="text-align: center" class="mb-0 font-weight-bold text-7">Descripción</h1>

                                <div class="tab-content">
                                    <div class="tab-pane active" id="productDescription">
                                        <table class="table table-striped mt-xl">
                                            <tbody>
                                            {#                                        <p>{{ product.descripcion }}</p>#}
                                    </div>
                                    <div class="tab-pane" id="productInfo">
                                        <table class="table table-striped mt-xl">
                                            <tbody>
                                            <tr>
                                                <th>
                                                    Características:
                                                </th>
                                                <td>
                                                    {{ product.caracteristicas |safe }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    Material
                                                </th>
                                                <td>
                                                    {{ product.material }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    Textura:
                                                </th>
                                                <td>
                                                    {{ product.textura }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    Tamaños:
                                                </th>
                                                <td>
                                                    {{ product.tamanos }}
                                                </td>
                                            </tr>


                                            <tr>
                                                <th>
                                                    Disponibilidad:
                                                </th>
                                                <td>
                                                    {% if product.stock == True %}
                                                        <i class="fa fa-check fa-2x" style="color:#2bca6e"></i>
                                                        {% else %}
                                                        <i class="fa fa-times fa-2x" style="color:#d41212"></i>
                                                    {% endif %}
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <hr class="solid my-5">

                    <div style="text-align: center">
                        <a href="/">
                            <button type="button" class="btn btn-borders btn-primary btn-lg">Volver Inicio</button>
                        </a>
                        <a href="/productos">
                            <button type="button" class="btn btn-borders btn-primary btn-lg">Volver Productos
                            </button>
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <script src="/static/vendor/jquery/jquery.js"></script>
    <script>
        $(document).on('click', '.data', function () {

            {#    img='<img alt="" width="300" height=""   src="'+url+'" class="img-responsive">'#}
            $('#vista_previa').attr('src', $(this).data('url'));
            console.log($(this).data('url'))
        });

    </script>

{% endblock %}